{% extends 'layout.html' %}

{% block title %}
  Chai aur Tweet
{% endblock %}

{% block content %}
  <h1 class="text-center mt-4">Welcome to Chai aur Tweet!</h1>
  <a class="btn btn-primary" href="{% url 'tweet_create' %}">Create Tweet</a>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
    {% for tweet in tweets %}
      <div>
        {% include 'tweet/_card.html' %}
      </div>
    {% empty %}
      <p class="text-gray-500">No tweets yet.</p>
    {% endfor %}
  </div>
{% endblock %}
